- make a new column for episode count
- make a new column for time stamp
- which anime has the higheset score
- which anime has the highest episode count
- animes with top 5 episode count
- which is the largest running anime

In [3]:
import numpy as np  
import pandas as pd

In [4]:
df = pd.read_csv(r'anime.csv')
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [5]:
df.loc[0]

Rank                                                     1
Title    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Score                                                  9.1
Name: 0, dtype: object

In [6]:
def extract_episodes(txt):
    if pd.isna(txt):
        return np.nan
    try:
        start = txt.find('(')
        end = txt.find(')')

        if start != -1 and end != -1 and end > start:
            inside_text = txt[start + 1:end]
            parts = inside_text.split()
        return int(parts[0])  # Extract the number of episodes
    except (ValueError, IndexError):
        return np.nan  # Return NaN if conversion fails

In [7]:
episode = extract_episodes(df.loc[0]['Title'])
episode

64

### Make a new Column for episode count

In [8]:
# extract the episode number for all the rows in the DataFrame and create a new column 'Episodes' to store these values
df['Episodes'] = df['Title'].apply(extract_episodes)

In [9]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

### make a new column for Timestamp (year)

In [10]:
title = df.loc[0]['Title']
part = title.split(')')[1].strip()  # Get the part after the closing parenthesis
words = part.split()
words

extracted_timestamp = " ".join(words[:5])
extracted_timestamp

newWords = words.copy()  # Make a copy of the words list
newWords[4] = words[4][:4] # Extract the first 4 characters of the 5th word (the year)
year = " ".join(newWords[:5])
year
newWords

['Apr',
 '2009',
 '-',
 'Jul',
 '2010',
 'membersManga',
 'StoreVolume',
 '1€4.58Preview']

In [11]:
def extract_time(title):
    if pd.isna(title):
        return np.nan
    try:
        part = title.split(')')[1].strip()  # Get the part after the closing parenthesis
        words = part.split()

        words[4] = words[4][:4]  # Extract the first 4 characters of the 5th word (the year)
        year = " ".join(words[:5])
        return year
    except (IndexError):
        return np.nan  # Return NaN if the expected format is not found

In [12]:
df['Total Time'] = df['Title'].apply(extract_time)
df.head()

,Rank,Title,Score,Episodes,Total Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

### extract total months

In [14]:
text = df.iloc[0]['Total Time']
text

'Apr 2009 - Jul 2010'

In [22]:
from datetime import datetime

text = "Apr 2009 - Jul 2010"

start_str, end_str = text.split(" - ")

# Convert string directly to datetime
start_date = datetime.strptime(start_str, "%b %Y")
end_date = datetime.strptime(end_str, "%b %Y")

start_date, end_date

# Calculate total months
total_months = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)
total_months

15

In [23]:
from datetime import datetime

def extract_total_months(text):
    if pd.isna(text):
        return np.nan
    try:
        start_str, end_str = text.split(' - ')
        
        start_date = datetime.strptime(start_str, "%b %Y")
        end_date = datetime.strptime(end_str, "%b %Y")

        # Convert year and month to total months
        total_months = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)
        return total_months
    except (IndexError, ValueError):
        return np.nan  # Return NaN if the expected format is not found or conversion fails

In [25]:
df['Months'] = df['Total Time'].apply(extract_total_months)
df.head()

,Rank,Title,Score,Episodes,Total Time,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,3

### which anime has the heigest score

In [27]:
df[df['Score'] == df['Score'].max()]

,Rank,Title,Score,Episodes,Total Time,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,15

### give top 5 episode count of anime

In [28]:
df.sort_values(by='Episodes', ascending=False).head(5)

,Rank,Title,Score,Episodes,Total Time,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,47
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014,35
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,110
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002,17
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005,17

In [30]:
# if want to show title and episode number only with index count from 1 to 5
df.sort_values(by='Episodes', ascending=False).head(5)[['Title', 'Episodes']].reset_index(drop=True)

                                               Title  Episodes
0  GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...       201
1  Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...       148
2  Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...       110
3  Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...        75
4  MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...        74