In [2]:
import numpy as np  
import pandas as pd

In [5]:
data = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'C', 'A', 'B', 'C', 'A'],
    'Store': ['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Sales': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550],
    'Quantity': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55],
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D')
}

df = pd.DataFrame(data)
df

  Category Store  Sales  Quantity       Date
0        A     X    100        10 2023-01-01
1        A     Y    150        15 2023-01-02
2        B     X    200        20 2023-01-03
3        B     Y    250        25 2023-01-04
4        C     X    300        30 2023-01-05
5        C     Y    350        35 2023-01-06
6        A     X    400        40 2023-01-07
7        B     Y    450        45 2023-01-08
8        C     X    500        50 2023-01-09
9        A     Y    550        55 2023-01-10

In [7]:
cat = df.groupby('Category')
for name, group in cat:
    print(f"Category: {name}")
    print(group)
    print("\n")

Category: A
  Category Store  Sales  Quantity       Date
0        A     X    100        10 2023-01-01
1        A     Y    150        15 2023-01-02
6        A     X    400        40 2023-01-07
9        A     Y    550        55 2023-01-10


Category: B
  Category Store  Sales  Quantity       Date
2        B     X    200        20 2023-01-03
3        B     Y    250        25 2023-01-04
7        B     Y    450        45 2023-01-08


Category: C
  Category Store  Sales  Quantity       Date
4        C     X    300        30 2023-01-05
5        C     Y    350        35 2023-01-06
8        C     X    500        50 2023-01-09

In [8]:
# Group by 'Category' and calculate total sales 
total_sales = df.groupby('Category')['Sales'].sum()
total_sales

Category
A    1200
B     900
C    1150
Name: Sales, dtype: int64

In [ ]:
# Group by 'Category' and calculate total sales and average quantity
grouped = df.groupby('Category').agg({
    'Sales': 'sum',
    'Quantity': 'mean'
})

grouped

          Sales   Quantity
Category
A          1200  30.000000
B           900  30.000000
C          1150  38.333333

In [9]:
# group by multiple columns (Category and Store) and calculate total sales
grouped_multi = df.groupby(['Category', 'Store'])['Sales'].sum()
grouped_multi

Category  Store
A         X        500
          Y        700
B         X        200
          Y        700
C         X        800
          Y        350
Name: Sales, dtype: int64

### Aggregation
-----

In [10]:
df['Sales'].mean()

np.float64(325.0)

In [12]:
df['Sales'].agg(['mean', 'sum', 'max', 'min'])

mean     325.0
sum     3250.0
max      550.0
min      100.0
Name: Sales, dtype: float64